body {
  background-color: lightslategray;
}
#yourname {
  color: lightcoral;
}
.text {
  color: white
}
#chatting{
  background-color: lightcoral;
}
#friend {
  background-color: aquamarine;
}
#input {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}